/***************************************************/
/* This file nav.css was written by Shaun Gedye */
/***************************************************/


/* Using JS to toggle a CSS class to prevent scrolling while the menu is open */
#body { margin: 0; }
#body.no-scroll { overflow: hidden; }

/*****************************************************/
/* NAVIGATION */
#optica-logo { margin: auto; }

/* NAVIGATION : Nav Links */
#nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--mainDarkBlue);
  height: 0;
  margin-top: 78px;
  width: 100vw;
  clip-path: circle(0px at 100vw -78px);
  transition: all 600ms ease-out;
  pointer-events: none;
  margin-top: 19px;
}
#nav-links.open {
  clip-path: circle(300vw at 100vw 0vh);
  height: calc(100vh - 78px);
  pointer-events: all;
}

#nav-links > li { list-style: none; opacity: 0; }
#nav-links > li.fade { opacity: 1; }
#nav-links > li:nth-child(1) { transition: all 250ms ease 100ms; }
#nav-links > li:nth-child(2) { transition: all 250ms ease 150ms; }
#nav-links > li:nth-child(3) { transition: all 250ms ease 250ms; }
#nav-links > li:nth-child(4) { transition: all 250ms ease 150ms; }
#nav-links > li:nth-child(5) { transition: all 250ms ease 100ms; }

#nav-links a {
  color: rgb(221, 131, 14);
  transition: 1.2s all;
}
#nav-links a:hover {
  color: var(--mainWhite);
}

/* NAVIGATION : Hamburger Menu only shown on Mobile Devices ≤ 992px */
#hamburger {
  position: absolute;
  display: block;
  padding: 3px 6px;
  cursor: pointer;
  right: 20px;
  top: 18px;
  z-index: 99;
  transition: transform 800ms;
}
.line {
  width: 30px;
  height: 4px;
  background: rgb(30, 190, 250);
  border-radius: 2px;;
  margin: 6px 0;
  transition: all 800ms;
}
#hamburger.menu-open { 
  transform: rotate(-90deg);
  transform-origin: center;
}
#hb-top.menu-open {
  transform: rotate(-45deg) translate(-4px, -3px);
  width: 38px;
  transform-origin: 100%;
}
#hb-middle.menu-open {
  transform: rotate(-135deg) translate(-3px, -2px);
  transform-origin: center;
  width: 38px;
}
#hb-bottom.menu-open {
  transform: rotate(-45deg) translate(-1px, 10px);
  width: 38px;
  transform-origin: 0%;
}

/*****************************************************/
/* NAVIGATION : Display on screens larger than 992px */
@media screen and (min-width: 992px) {
  #optica-logo { padding: 0 20px; }
  #nav-links {
    flex-direction: row;
    margin-top: 0;
    background: none;
    height: 78px;
    clip-path: none;
    pointer-events: all;
  }
  #nav-links.open {
    height: 78px;
    pointer-events: all;
  }
  #nav-links > li { opacity: 1;   pointer-events: all; }
  #nav-links a { font-size: 20px; }
  #hamburger { display: none; }
}