/********************************/
/* Style Written By Shaun Gedye */
/********************************/
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
:root {
  --mainWhite: #fff;
  --mainBlack: #000;
  --mainDarkBlue: #002f5d; }

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-family: "Roboto", Arial, Verdana, sans-serif; }

.nav-link, h1, h2, #copywrite > p {
  font-family: "Kaushan Script", cursive; }

section > .container {
  padding-top: 50px; }

h1 {
  font-size: 3em;
  text-align: center;
  color: var(--mainDarkBlue);
  margin-bottom: 20px; }

a {
  text-decoration: none;
  color: var(--mainDarkBlue); }

a:hover {
  text-decoration: none; }

/* Nav */
nav.sticky {
  position: fixed;
  background-color: var(--mainDarkBlue);
  height: 78px;
  top: 0px;
  padding: 20px;
  width: 100vw;
  opacity: 0.95;
  z-index: 99; }

#myNav > .navbar-nav {
  display: inline-flex;
  justify-content: space-around;
  width: 100%; }

.nav-link {
  color: var(--mainWhite);
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out; }

.nav-link:hover {
  color: var(--mainWhite);
  transform: scale(1.2); }

@media (max-width: 1024px) {
  .navbar-brand {
    margin: auto; } }

/* Banner */
.dark-blue {
  background-color: var(--mainDarkBlue); }

#cabezote {
  margin: 0;
  padding: 78px 0 0 0;
  width: 100vw;
  height: auto; }

/*** NOSOTROS ***/
#about-articles {
  display: flex;
  justify-content: space-around; }

#about-articles > article {
  border: 3px solid var(--mainDarkBlue);
  border-collapse: collapse;
  padding: 10px 20px;
  margin-bottom: 20px; }

#about-articles h2 {
  text-align: center;
  color: var(--mainDarkBlue); }

#about-articles article:hover {
  background-color: var(--mainDarkBlue);
  cursor: default; }
  #about-articles article:hover h2, #about-articles article:hover p, #about-articles article:hover li {
    color: var(--mainWhite); }

/*** PRODUCTOS ***/
#productos {
  background: url("../img/gafas_bg.jpg") fixed center no-repeat; }

/* selector buttons */
.filter-btn {
  color: var(--mainDarkBlue) !important;
  border: 2px solid var(--mainDarkBlue) !important;
  box-shadow: 2px 2px 2px var(--mainBlack);
  font-weight: bold; }

.filter-btn:hover {
  color: var(--mainWhite) !important;
  background: var(--mainDarkBlue) !important; }

.filter-btn.active {
  background: var(--mainDarkBlue);
  color: var(--mainWhite) !important;
  box-shadow: none !important;
  transform: translate(2px, 2px); }

.show {
  display: block; }

.hide {
  display: none; }

/* store items */
.img-container {
  position: relative;
  overflow: hidden; }

.store-img {
  transition: all 0.8s ease-in-out; }

.img-container:hover .store-img {
  transform: scale(1.1); }

/*** CORPORATIVO ***/
.card-body.corp-card-body {
  padding: 5px; }

/*** CONTACT US ***/
#contactanos {
  height: 800px; }

/*** FOOTER ***/
#footer-img {
  width: 100vw;
  height: auto; }

#footer > div {
  padding: 5%; }

#copywrite {
  margin: auto;
  align-items: center;
  background: var(--mainDarkBlue);
  padding-bottom: 2%; }

#copywrite > p {
  text-align: center;
  font-size: 1.0em;
  color: var(--mainWhite); }

@media (min-width: 768px) {
  #copywrite {
    padding-bottom: 0; }
    #copywrite p {
      font-size: 2.0em; } }
